<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->

      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->

      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">organization leaders</h6>
        <p>
          <img src="../../assets/img/favicon (1).ico" class="img-prof" />&nbsp;
          <a href="#!">Rade Vignjevic</a>
        </p>
        <p>
          <img src="../../assets/img/barisic.ico" class="img-prof" />&nbsp;
          <a href="#!">Davor Barišić-Jaman</a>
        </p>
        <p>
          <img src="../../assets/img/stojanova.ico" class="img-prof" />&nbsp;
          <a href="#!">Nevena Stojanova</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <mdb-icon icon="home" class="mr-3"></mdb-icon> Skopje, Pozadi Beverli
        </p>
        <p>
          <mdb-icon icon="envelope" class="mr-3"></mdb-icon> info@zelenoskopje.com
        </p>
        <p>
          <mdb-icon icon="phone" class="mr-3"></mdb-icon> + 389 76 290 119
        </p>
        <p>
            <mdb-icon icon="print" class="mr-3"></mdb-icon> + 02 2 460 039
        </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2018 Copyright:
          <a href="#">
            <strong> ZelenoSkopje.com</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <mdb-icon icon="facebook"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <mdb-icon icon="twitter"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <mdb-icon icon="google-plus"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <mdb-icon icon="linkedin"></mdb-icon>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->