<section>
  <mdb-carousel [isControls]="true" class="carousel slide" [animation]="'slide'" [interval]="'3000'">
    <mdb-carousel-item>
      <div class="view">
        <video class="video-fluid" autoplay loop>
          <source src="../../assets/slide1_cut1.mp4" type="video/mp4" />
        </video>
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view">
        <video class="video-fluid" autoplay loop>
          <source src="../../assets/slide3_cut1.mp4" type="video/mp4" />
        </video>
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view">
        <video class="video-fluid" autoplay loop>
          <source src="../../assets/slide1_cut2.mp4" type="video/mp4" />
        </video>
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

  <div class="logo">
    <b><span class="logo-text1">зелено</span></b><span class="logo-text2">скопје</span>
  </div>
</section>