<section class="charts-section">
  <mdb-carousel class="carousel slide carousel-fade" [isControls]="true" [animation]="'fade'" [interval]="'0'">
    <mdb-carousel-item>
      <div class="container">
        <div class="row no-gutters">
          <div class="col">
            <h1 class="display-3 text-center">Data</h1>
            <hr />
            <p>
              Ecology is not synonymous with environmentalism, natural history, or environmental science. It overlaps
              with
              the closely related sciences of evolutionary biology, genetics, and ethology. An important focus for
              ecologists is to improve the understanding of how biodiversity affects ecological function.
            </p>
          </div>
        </div>
        <div class="row no-gutters justify-content-center">
          <div class="col-sm-4">
            <pie-chart></pie-chart>
          </div>
          <div class="col-sm-4">
            <pie-chart></pie-chart>
          </div>
        </div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="container">
        <div class="row no-gutters">
          <div class="col">
            <h1 class="display-3 text-center">Line Chart</h1>
            <hr />
            <p>
              Ecology is not synonymous with environmentalism, natural history, or environmental science. It overlaps
              with
              the closely related sciences of evolutionary biology, genetics, and ethology. An important focus for
              ecologists is to improve the understanding of how biodiversity affects ecological function.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <line-chart></line-chart>
          </div>
        </div>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</section>