<div class="container mt-2">
  <div class="row">
    <div class="col">
      <h1 class="display-3 text-center">Vegetation Map</h1>
      <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a
        horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown
        belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and
        seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him,
        waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper
        human</p>
      <hr />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://earthengine.google.com/iframes/timelapse_player_embed.html#v=41.98992,21.57106,11.973,latLng&t=2.31"
          frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>