/* For use in src/lib/core/theming/_palette.scss */
$digit-green: (
    50 : #7acabf,
    100 : #c6e8e3,
    200 : #a0d9d1,
    300 : #7acabf,
    400 : #5ebeb1,
    500 : #41b3a3,
    600 : #3bac9b,
    700 : #32a391,
    800 : #2a9a88,
    900 : #1c8b77,
    A100 : #c4fff4,
    A200 : #91ffea,
    A400 : #5effe0,
    A700 : #45ffdb,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$digit-orange: (
    50 : #ebb590,
    100 : #f8e5d8,
    200 : #f4d4be,
    300 : #efc2a3,
    400 : #ebb590,
    500 : #e8a87c,
    600 : #e5a074,
    700 : #e29769,
    800 : #de8d5f,
    900 : #d87d4c,
    A100 : #ebb590,
    A200 : #ebb590,
    A400 : #ffddcd,
    A700 : #ffccb3,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

